<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Info from MongoDB</title>
</head>
<body>
  <h2>Slack-clon</h2>
  <div id="root1">
    <h3>User Info:</h3>
    <h3>Channels:</h3>
 
  </div>

  <div id="rootMess"></div>
    <h3>Messages:</h3>
    <p>From: <%= user.username %></p>
    <p>Channel: <%= channel.name %></p>
    <p><%= timestamp %></p>
    <p><%= text %></p>
  </div>

  </h1>
</body>
</html>