<div class="container mt-4">
  <div class="row text-center">
    <h1>Slone</h1>

    <p>Here comes a nice long description of what this service is and isn't.</p>

    <div class="row">
      <div class="col mt-4">
        <p>You need to log in to use this service:</p>
        <p><a href="/login">Log in</a></p>
      </div>
      <div class="col mt-4">
        <p>If you don't have an account, you can create one:</p>
        <p><a href="/signup">Sign up</a></p>
      </div>
    </div>
  </div>
</div>