body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 10fr 1fr;
  gap: 0;
  grid-template-areas:
    "header channelInfo"
    "userInfo messages"
    "channels messages"
    "channels input";
}
section.header {
  grid-area: header;
  background-color: #D36135;
  color: #fff;
}
section.channelInfo {
  grid-area: channelInfo;
  background-color: #eabeab;
  box-shadow: 0px -8px 5px -5px #ebe1de inset;
}
section.userInfo {
  grid-area: userInfo;
  background-color: #D36135;
  color: #fff;
}
section.channels {
  grid-area: channels;
  background-color: #D36135;
  color: #fff;
  overflow-y: auto;
}
section.messages {
  grid-area: messages;
  overflow-y: auto;
  background-color: #ebe1de;
}
section.input {
  grid-area: input;
}

.elephant {
  display: inline-block;
  transform: scaleX(-1);
}

a {
  color: #fff;
}

.button-plane {
  color: #fff;
  background-color: #D36135;
}

.channel {
  list-style: none;
}
.channel:hover {
  background-color: #bd552d;
}
.channel-selected {
  background-color: #863c1f !important;
}
.channel a {
  display: block;
  padding: .25rem .5rem;
  text-decoration: none;
}
.channel a:hover {
  color: #fff;
}

.logo {
  color: #363135;
}

.slogan {
  color: #881c19;
  font-size: small;
}

img {
  display: inline-block;
  height: 120px;
  margin-right: 5px;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  content: ' 🐘 ';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

input[type="file"] {
  display: none;
}

.button-paperclip {
  color: #fff;
  background-color: #eabeab;
  padding-left: 0;
  padding-right: 0;
}

#messages {
  color: #863c1f;
  font-size: small;
}

#mUsername {
  font-weight:bold;
  font-size: 0.9em;
}

#mDate {
  font-size: 0.5em;
}

#mText {
  font-size: 0.8em;
}

#channelInfo {
  font-weight:bold;
  font-size: 1.3em;
  color: #863c1f;
  display: inline-block;
}

#channelInfoText {
  font-size: small;
  color: #363135;
}

#addChannel div {
  display: block;
  padding: .5rem 0rem;
  text-decoration: none;
}

#btnAddChannel {
  display: inline-block;
}

#btnSaveChannel {
  visibility: hidden;
  margin-top: 0.5rem;
}

.channels ::placeholder {
  font-size: small;
  font-style: italic;
}
